<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat ao Vivo</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div id="header">
        <a href="#" style="text-decoration: none; color: black;">Loja (em desenvolvimento)</a>
        <h2>Bem-vindo, {{ current_user.username }}</h2>
    </div>
    <div class="container">
        <div id="chat">
            <div id="messages"></div>
            <input id="msg" type="text" placeholder="Digite sua mensagem..." onkeydown="checkEnter(event)" disabled />
            <button id="sendButton" onclick="sendMessage()" disabled>Enviar</button>
        </div>
        <div id="video">
            <iframe id="livestream" width="100%" height="300px" 
                src="https://www.youtube.com/embed/live_stream?channel=ID_DO_YOUTUBE" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var room = 'chatroom';

        socket.emit('join', {username: username, email: email, room: room});

        document.getElementById('msg').disabled = false;
        document.getElementById('sendButton').disabled = false;

        socket.on('message', function(data) {
            var msg = document.createElement('p');
            msg.innerText = data.msg;
            document.getElementById('messages').appendChild(msg);
        });

        var canSend = true;
        var delayTime = 5000;

        function sendMessage() {
            if (canSend) {
                var msgInput = document.getElementById('msg');
                var msg = msgInput.value;
                msgInput.value = '';

                socket.emit('message', {username: username, msg: msg, room: room});

                canSend = false;
                document.getElementById('msg').disabled = true;
                document.getElementById('sendButton').disabled = true;

                setTimeout(function() {
                    canSend = true;
                    document.getElementById('msg').disabled = false;
                    document.getElementById('sendButton').disabled = false;
                }, delayTime);
            } else {
                alert('Por favor, aguarde 5 segundos antes de enviar outra mensagem.');
            }
        }

        function checkEnter(event) {
            if (event.keyCode === 13) {
                sendMessage();
            }
        }

        var watchTime = 0;
        setInterval(function() {
            watchTime += 10; 
            socket.emit('watchTime', {username: username, email: email, time: watchTime});
        }, 10000); 
    </script>
</body>
</html>
